{% extends 'base.html.twig' %}

{% block title %}Productos index{% endblock %}

{% block body %}
{% include('navbar.html.twig') %}
<div class="container">
    <h1>Productos</h1>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>CODIGO</th>
                <th>DESCRIPCION</th>
                <th>PRECIO</th>
                <th>STOCK</th>
                <th>ACCION</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.codigo }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.stock }}</td>
                <td>
                    <a href="{{ path('productos_show', {'id': producto.id}) }}" class="btn btn-sm btn-info">VER</a>
                    <a href="{{ path('productos_edit', {'id': producto.id}) }}" class="btn btn-sm btn-primary">EDITAR</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('productos_new') }}" class="btn btn-success">NUEVO</a>
</div>
{% endblock %}
